@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

*,
body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Odibee Sans', cursive;
}
body{
    background-color: gray;
}
ul{
    list-style: none;
}
main{
    margin:1rem;
    display:grid;
    grid-template-columns:33% 1fr ;
    grid-gap: 1rem;
}
.personal,.skills,.languages{
    padding: 1rem;
    line-height: 2;
}
.left{
    background-color:white;
}

.left-image img{
    width: 100%;
}
.left-image {
    position: relative;

}
.left-image h2{
    position: absolute;
    bottom:0;
    left:1rem;
    

}
.experience{
    line-height: 2;

}
.experience ul{
    margin:2rem 0;
}
.right{
    background-color: white;
    padding: 1.5rem;
}
.date{
    color:green;
}
.current{
    background-color: green;
    color:white;
    padding: 0.4rem;
    border-radius: 3px
}
.education ul{
    margin:2rem 0;
}
.education{
    line-height: 2;
}